<h1>Cadastro de Usuário</h1>

<form action="/cadastrar" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" required><br><br>

    <label for="senha">Senha:</label>
    <input type="text" id="senha" name="senha" required><br><br>

    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br><br>

    <button type="submit">Cadastrar</button>
</form>

<br>
<a href="/login">Já tem conta? Faça login aqui</a>

